# -------------------------------------------------------------------------------------------------
# app
# -------------------------------------------------------------------------------------------------
NUXT_PUBLIC_APP_BASE_URL="http://localhost:3000"
# imprint service
NUXT_PUBLIC_REDMINE_ID=
# web crawlers
BOTS="disabled"

# -------------------------------------------------------------------------------------------------
# analytics
# -------------------------------------------------------------------------------------------------
NUXT_PUBLIC_MATOMO_BASE_URL="https://matomo.acdh.oeaw.ac.at"
# NUXT_PUBLIC_MATOMO_ID=

# Corpsum API URL
NUXT_PUBLIC_API_BASE_URL="https://corpsum-proxy.acdh-dev.oeaw.ac.at"

# -------------------------------------------------------------------------------------------------
# mongodb
NUXT_DATABASE_HOST=corpsum-mongodb:27017
NUXT_DATABASE_NAME=
NUXT_DATABASE_USER=
NUXT_DATABASE_PASSWORD=
NUXT_DATABASE_AUTHSOURCE=
NUXT_MONGO_ROOT_USER=
NUXT_MONGO_ROOT_PASSWORD=
DOCKER_MONGODATA_DIR=
DOCKER_MONGODUMPS_DIR=
