# -------------------------------------------------------------------------------------------------
# app
# -------------------------------------------------------------------------------------------------
NUXT_PUBLIC_APP_BASE_URL="http://localhost:3000"
# imprint service
NUXT_PUBLIC_REDMINE_ID=14670
# web crawlers
BOTS="disabled"

# -------------------------------------------------------------------------------------------------
# analytics
# -------------------------------------------------------------------------------------------------
NUXT_PUBLIC_MATOMO_BASE_URL="https://matomo.acdh.oeaw.ac.at"
# NUXT_PUBLIC_MATOMO_ID=

# Corpsum API URL
NUXT_PUBLIC_API_BASE_URL="https://noskecrystal5corpsum.acdh-dev.oeaw.ac.at"

# -------------------------------------------------------------------------------------------------
# mongodb
# -------------------------------------------------------------------------------------------------
DATABASE_HOST=corpsum-mongodb:27017
DATABASE_NAME=corpsumdb
DATABASE_USER=corpsumdbuser
DATABASE_PASSWORD=c0rpsumdbp4ssw0rd
DATABASE_AUTHSOURCE=
MONGO_ROOT_USER=mongodbrootuser
MONGO_ROOT_PASSWORD=mongodbrootpassword
DOCKER_MONGODATA_DIR=/data/corpsum/mongodata
DOCKER_MONGODUMPS_DIR=/data/corpsum/mongodumps

# -------------------------------------------------------------------------------------------------
# auth
# -------------------------------------------------------------------------------------------------
NUXT_AUTH_SECRET=this_secret_needs_to_be_at_least_32_characters_long
NUXT_JWT_EXPIRATION=3600000
