# -------------------------------------------------------------------------------------------------
# app
# -------------------------------------------------------------------------------------------------
NUXT_PUBLIC_APP_BASE_URL="http://localhost:3000"
# imprint service
NUXT_PUBLIC_REDMINE_ID=14670
# web crawlers
NUXT_PUBLIC_BOTS="disabled"
# NUXT_PUBLIC_GOOGLE_SITE_VERIFICATION=

# -------------------------------------------------------------------------------------------------
# analytics
# -------------------------------------------------------------------------------------------------
NUXT_PUBLIC_MATOMO_BASE_URL="https://matomo.acdh.oeaw.ac.at"
# NUXT_PUBLIC_MATOMO_ID=

# -------------------------------------------------------------------------------------------------
# mongodb
DATABASE_URL=mongodb://corpsumdbuser:c0rpsumdbp4ssw0rd@corpsum-mongodb:27017/corpsumdb
MONGO_ROOT_USER=mongodbrootuser
MONGO_ROOT_PASSWORD=mongodbrootpassword
DOCKER_MONGODATA_DIR=/home/devel/data/corpsum/mongodata
DOCKER_MONGODUMPS_DIR=/home/devel/data/corpsum/mongodumps

# -------------------------------------------------------------------------------------------------
# auth/credentials
NUXT_CREDENTIAL_SECRET=this_secret_needs_to_be_at_least_32_characters_long
NUXT_AUTH_SECRET=this_secret_needs_to_be_at_least_32_characters_long
NUXT_JWT_EXPIRATION=3600000
